* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 600px;
    height: 100%;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 20px;
}

.reset {
    width: 100px;
    height: 30px;
    margin-left: 10px;
}

h1 {
    border: 1px solid black;
    margin: 10px;
    width: 70%;
    height: 40px;
    margin-left: 15%;
    text-align: center;
}

.paracontainer {
    display: flex;
}

.paracontainer p {
    width: 300px;

}

p {
    /* border: 2px solid black; */
    width: 400px;
    height: 25px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.scoreBoxes {
    display: flex;
    justify-content: space-evenly;

}

.scoreBoxes p {
    height: 40px;
    width: 400px;
    margin: 10px; 
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons button {
    width: 100px;
    height: 30px;
    margin: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer > p {
    width: 240px;
    height: 30px;
    margin: 10px;
    border: 2px solid black;
    text-transform: capitalize;
}